[submodule "ghostty"]
	path = ghostty
	url = https://github.com/yaoshenwang/ghostty.git
	branch = main
[submodule "homebrew-tap"]
	path = homebrew-tap
	url = https://github.com/yaoshenwang/homebrew-tap.git
[submodule "vendor/bonsplit"]
	path = vendor/bonsplit
	url = https://github.com/yaoshenwang/bonsplit.git
